/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    columns: var(--clr-dark-grey);
}

/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */
/*#region aesthetic elements */
.flow > * + * {
    margin-top: var(--flow-spacing);
}
/*#endregion aesthetic elements */

/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */
.ms_header-container{
    margin-top: 2rem;
}

.ms_main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
/* --------------------------------------------------- */
/*#region header */
.ms_header-logo {
    width: 40%;
    max-width: 200px;
}
/*#endregion header */

/* --------------------------------------------------- */
/*#region Carousel */
.ms_carousel {
    position: relative;
}

.ms_carousel-item {
    object-fit: cover;

    display: none;
}

.ms_carousel-item.active {
    display: block;
}

.ms_carousel-previous {
    position: absolute;
        top: 0;
        left: 50%;
        z-index: 2;
    transform: translate(-50%, 0);
}

.ms_carousel-next {
    position: absolute;
        bottom: 0;
        right: 50%;
        z-index: 2;
    transform: translate(50%, 0);
}

/*#endregion Carousel */
/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .ms_carousel-previous {
        left: 0;
        top: 50%;
        transform: translate(0, -50%) rotate(-90deg);
    }

    .ms_carousel-next {
        right: 0;
        bottom: 50%;
        transform: translate(0, 50%) rotate(-90deg);
    }
}
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */