/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    columns: var(--clr-dark-grey);
}

/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */
/*#region aesthetic elements */
.flow > * + * {
    margin-top: var(--flow-spacing);
}
/*#endregion aesthetic elements */

/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */
.ms_header-container{
    margin-top: 2rem;
}

.ms_main-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
/* --------------------------------------------------- */
/*#region header */
.ms_header-logo {
    width: 40%;
    max-width: 200px;
}
/*#endregion header */

/* --------------------------------------------------- */
/*#region Carousel */
.ms_carousel {
    position: relative;
    width: 100%;
    max-width: 400px;
    aspect-ratio: 16 / 9;
}

.ms_carousel-images {
    position: relative;
    height: 100%;

    overflow: hidden;
}

.ms_carousel-item {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
    filter: blur(5px);
    transition: 
        opacity 500ms ease,
        filter 300ms ease-in;
}

.ms_carousel-item.active {
    opacity: 1;
    filter: blur(0);
}

.ms_carousel-previous {
    position: absolute;
        top: 0;
        left: 50%;
        z-index: 2;
    transform: translate(-50%, 0);
}

.ms_carousel-next {
    position: absolute;
        bottom: 0;
        right: 50%;
        z-index: 2;
    transform: translate(50%, 0);
}

:is(.ms_carousel-previous, .ms_carousel-next) .btn {
    transition: transform 300ms ease;
}

:is(.ms_carousel-previous, .ms_carousel-next) .btn:hover {
    transform: scale(1.3);
}

/*#endregion Carousel */
/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .ms_carousel-previous {
        left: 0;
        top: 50%;
        transform: translate(0, -50%) rotate(-90deg);
    }

    .ms_carousel-next {
        right: 0;
        bottom: 50%;
        transform: translate(0, 50%) rotate(-90deg);
    }
}
/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */