/* --------------------------------------------------------------------------------- */
/*#region GENERAL DEFAULTS  */
body {
    font: var(--fontweight-default) var(--fontsize-default) var(--fontfamily-default);
    columns: var(--clr-dark-grey);
}

/*#endregion GENERAL DEFAULTS  */
/* --------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------- */
/*#region UTILITIES */ 
/* ------------------------------------------ */
/* aesthetic elements */
.flow > * + * {
    margin-top: var(--flow-spacing);
}

/* ------------------------------------------ */
/* Icons */
.icon::before,
.icon::after {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
/*#endregion UTILITIES */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region COMPOSITION */
header {
    position: fixed;
        top: 35%;

    animation: header-move var(--anim-duration) ease var(--anim-duration) forwards;
}

.ms_header-container{
    margin-top: 2rem;
}

.ms_main-container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    animation: main-appear var(--anim-duration) ease calc(var(--anim-duration) + var(--anim-short)) forwards;
}

@keyframes main-appear {
    from { opacity: 0; }
    to {opacity: 1;}
}

@keyframes header-move {
    to {
        top: 0;
    }
}
/*#endregion COMPOSITION */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region BLOCKS: component specific rules */
/* --------------------------------------------------- */
/*#region header */
.ms_header-logo {
    width: 40%;
    max-width: 200px;
}

.ms_header-content {
    position: relative;
}

/* .ms_header-content::after,
.ms_header-content::before {
    font: var(--fa-font-solid);
    font-size: calc(1.75rem + 1.5vw);
    position: absolute;
        top: 0;
    animation: blink-caret var(--anim-short) step-end;
    animation-iteration-count: 10;
}

.ms_header-content::before {
    content: '\f053';
    left: -1.5rem;
}

.ms_header-content::after {
    content: '\f054';
    right: -1.2rem;
} */

.ms_typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    width: 0%;
    animation: 
        typing var(--anim-duration) steps(15, end) var(--anim-short);
    animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { color: transparent; }
    50% { color: var(--clr-primary); }
}

/*#endregion header */

/* --------------------------------------------------- */
/*#region Carousel-images */
.ms_carousel-container {
    height: 100vh;
    position: relative;
}

.ms_carousel,
.ms_carousel-images {
    width: 100%;
    height: 100%;
}

.ms_carousel-item {
    position: absolute;
        top: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    filter: blur(5px);
    transition: 
        opacity 500ms ease,
        filter 300ms ease-in;
}

.ms_carousel-item.active {
    opacity: 1;
    filter: blur(0);
}

.ms_carousel-btn {
    font-size: 4rem;
}

.ms_carousel-previous {
    position: absolute;
        top: 0;
        left: 50%;
        z-index: 2;
    transform: translate(-50%, 0);
}

.ms_carousel-next {
    position: absolute;
        bottom: 0;
        right: 50%;
        z-index: 2;
    transform: translate(50%, 0);
}

:is(.ms_carousel-previous, .ms_carousel-next) .btn {
    transition: transform 300ms ease;
}

:is(.ms_carousel-previous, .ms_carousel-next) .btn:hover {
    transform: scale(1.3);
}
/*#endregion Carousel */

/* --------------------------------------------------- */
/*#region Carousel-nav */
.ms_carousel-nav {
    position: absolute;
        left: 50%;
        bottom: 20px;
        z-index: 3;
    transform: translate(-50%, 0);
    height: 20vh;
}

.ms_carousel-nav-img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 16 / 9;

    background-color: transparent;
    opacity: .4;
    transition: 
        opacity 500ms ease,
        transform 400ms ease;
}

.ms_carousel-nav-img:hover {
    transform: scale(1.1);
    opacity: .8;
}

.ms_carousel-nav-img.active {
    opacity: 1;
}
/*#endregion Carousel-nav */

/*#endregion BLOCKS: component specific rules */
/* --------------------------------------------------------------------------------- */


/* --------------------------------------------------------------------------------- */
/*#region MEDIA QUERIES */
@media only screen and (min-width: 768px) {
    .ms_carousel-previous {
        left: 0;
        top: 50%;
        transform: translate(0, -50%) rotate(-90deg);
    }

    .ms_carousel-next {
        right: 0;
        bottom: 50%;
        transform: translate(0, 50%) rotate(-90deg);
    }
}

@media only screen and  (min-width: 1200px) {
    .ms_header-content::after,
    .ms_header-content::before {
        font-size: 3rem;
    }
}

/*#endregion MEDIA QUERIES */
/* --------------------------------------------------------------------------------- */

/* DEBUG */
/* Remove animations */
/* *,
*::after,
*::before {
    animation-duration: 0.01ms !important;
    animation-delay: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
} */